
#headu{
    margin-left: 16px;
    padding-bottom:10px;
}

.btn{
    float:right;
    padding-left:7px;
}

.btn{
    padding:5px;
}

.poster{
    margin-top:64px;
}

.para{
    height:500px;
    width:100%;
}

.mems{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid #ECE5C7;
    border-radius: 5px;
    background-color:white;
}


.hidden{
    display:none;
}

.row{
    margin:5px;
}

.imgteam{
    border-radius: 50%;
   
    padding:5px;
}




p{
    text-align: center; 
}

.btn{
    float:none;
}

.contents{
    padding: 5px;
    margin-top:50px;
}

.col-lg-4 h1{
 text-align: center; 
}

.col-md-7{
    padding-top:120px;
}

.r4 .col-md-7 {
    padding-top:80px;
}

.col-md-7 h2{
    text-align:center; 
}

.col-md-7 p{
    text-align: center;
}

.col-md-5{
    display:flex;
    align-items: center;
    justify-content: center;
}

.cntnt{
    color: chocolate;
}

.r2{
    margin-top:60px;
    
}

.r3{
    margin-top:60px;
}

.r4{
    margin-top:60px;
}



    .mems_h1{
        font-size:var(--size-2xl);
        
    }
    .mems_p{
        font-size:var(--size-base);
    }


.content_h2{
    font-size: var(--size-2xl);
}
.content_p{
    font-size:var(--size-base);
}


.footer{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
   
}

.footer p{
     font-size:var(--size-xs);
}



@media (max-width:767px){
    .hidden{
        display:block;
    }
    
    .not_hidden{
        display:none;
    }
}

