
:root{
    --clr-back:#080202;
    --clr-light:#F9F5F6;
    --clr-strong: #40128B;
    --clr-btn: #B70404;
    --clr-shady:#606C5D;
    --clr-light2:#E1ECC8;
    
    
    
/*    sizes that will be needed in near future*/
     --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
    
/*    rem is for relative to standard 1rem= 16px while em is for relative to the parent */
}


/*
@media (min-width:475px){
    .container{
        max-width:475px;   from 475 to 640 the width will remain 475px
    }
}

@media (min-width:640px){
    .container{
        max-width: 640px;
    }
    
}

@media (min-width:768px){
    .container{
        max-width: 768px;
    }
    
}

@media (min-width:1024px){
   
    .mems_h1{
        font-size:xl;
        
    }
    .mems_p{
        font-size:sm;
    }
    
}

@media (min-width:1280px){
    .container{
        max-width: 1280px;
    }
    
}

@media (min-width:1536px){
    .container{
        max-width: 1536px;
    }
    
}*/
